body.login-pf {
    background: url("45-houston-dark.png") no-repeat 50% 0;
    background-size: cover;
    background-color: #101010;
}

#badge {
    width: 200px;
    height: 100px;
    bottom:-35px;right:0px;
    background-image: url("45-brand-white.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#brand {
    font-size: 18pt;
    text-transform: uppercase;
    color: #000000;
}

#brand:before {
    content: "We Have A Solution";
}

#index-brand:before {
    content: "45DRIVES";
}