body.login-pf {
    background: url("45-houston-dark.png") no-repeat 50% 0;
    background-size: cover;
    background-color: #101010;
}

#badge {
    width: 500px;
    height: 150px;
    background-image: url("45-brand-white.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#brand {
    font-size: 18pt;
    text-transform: uppercase;
}

#brand:before {
    content: "45DRIVES STORAGE NODE";
}

#index-brand:before {
    content: "45DRIVES STORAGE NODE";
}